*{
    margin: 0; 
    padding: 0;
}

h1{
    color: cornflowerblue;
    background-color: black;
}

h2{
    color: red;
    background-color: lightpink;
}

.article_p {
    font-size: 1rem;
}

li {
    color:rgb(25, 231, 38);
    background-color: aqua;
}

li:nth-child(2n) {
    color:black;
    background-color: blue;
}

img{
    max-width: 100vw;
}